<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>24/06/18 15:22:47</td>   <td>0</td> <td title="&gt;&gt;TestBase.setupSuite()[pri:0, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">&gt;&gt;setupSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>24/06/18 15:22:49</td>   <td>2329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeRequested_200455Test.changeReqsted200455(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">changeReqsted200455</td> 
  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>24/06/18 15:25:21</td>   <td>154193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>24/06/18 15:25:23</td>   <td>155559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeRequested_200455Test.changeReqsted200455(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">changeReqsted200455</td> 
  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>24/06/18 15:25:26</td>   <td>158560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>24/06/18 15:25:26</td>   <td>158607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeRequested_200455Test.changeReqsted200455(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">changeReqsted200455</td> 
  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>24/06/18 15:25:29</td>   <td>161617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>24/06/18 15:25:29</td>   <td>161648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeRequested_200455Test.changeReqsted200455(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">changeReqsted200455</td> 
  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>24/06/18 15:25:32</td>   <td>164653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.PolicyBillingChanges.ChangeRequested_200455Test@1ce4f0a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@9976043</td>   <td></td> </tr>
</table>
